@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Mystery';
  src: url('/fonts/MysteryQuest-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

main {
  max-width: 600px;
  margin: auto auto;
  background-color: #DBDBDB;
  height: max-content;

  @media (min-width: 1001px) {
    max-width: 990px;
  }


}

.Header {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  background-color: rgb(23, 24, 24);

  display: flex;

  .Logo {
    color: whitesmoke;
    font-family: "Audiowide";
    font-size: 1.2rem;
    width: 30%;
    min-width: 220px;
  }

  .Options {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 1.2rem;
    font-family: "Audiowide";

    @media (max-width: 1001px) {
      flex-direction: row-reverse;
      justify-content: flex-start;
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 40%;

      @media (max-width: 1001px) {
        width: 15%;
      }

      color: rgb(217, 216, 216);
      position: relative;

      a {
        color: rgb(217, 216, 216);
        font-weight: 600;
        font-family: "Audiowide";
        font-size: 1.2rem;
        margin-left: 0.5rem;
      }

      /* Links en desktop */
      .nav-links {
        display: flex;
        gap: 1rem;
      }

      .nav-links a {
        color: rgb(217, 216, 216);
        font-weight: 600;
        font-family: 'Audiowide', cursive;
        font-size: 1.2rem;
        text-decoration: none;
      }

      /* Botón hamburguesa oculto en desktop */
      .hamburger {
        display: none;
        background: none;
        border: none;
        font-size: 1.2rem;
        color: rgb(217, 216, 216);
        cursor: pointer;
        padding: 0em 1.2em;
      }

      /* Responsive: pantallas menores a 900px */
      @media (max-width: 1001px) {

        /* Oculto los links por defecto */
        .nav-links {
          display: none;
          position: absolute;
          top: 100%;
          right: 10%;
          background-color: #111;
          flex-direction: column;
          text-align: right;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);

          a {
            padding: 0.2rem 1rem;
            margin: 0;
          }

          a:hover {
            background-color: #656363;
          }
        }

        /* Muestro los links cuando 'open' está true */
        .nav-links.show {
          display: flex;
        }

        /* Muestro el botón hamburguesa */
        .hamburger {
          display: block;
        }
      }
    }

    .userStatus {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: 200px;
      margin-right: 0.5rem;

      .userName {
        color: rgb(188, 184, 184);
        font-size: 1rem;
        font-family: 'Mystery';
        font-style: normal;
        text-align: right;
        padding-right: 0.5rem;
      }

      .userButton {
        padding: 0.3rem;
      }
    }
  }

}

.homeTitle {
  margin-bottom: 30px;
}

.project_container {
  color:#262626;
  a {
    color:unset;
  }

  display: flex-column;
  margin: 0px auto 80px;

  .project_name {
    font-size: 2rem;
    font-family: "Mystery";
  }

  .project_des_img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;

    .project_description {
      grid-column: 1 / 6;
      white-space: pre-line;
    }

    .project_link {
      grid-column: 6 / -1;
    }
  }
}

.project_detail_container {
  
  .project_detail_title {
    font-size: 3rem;
    font-family: "Mystery";
  }
}